
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OpelClubLayout.cshtml";
}


<div class=" row infoSection">
    <div class="image1 width">
        <img src="~/content/image/gallery/1.jpg">
        <p>
            БМВ Клуб начал отсчет своей истории в 2000 г., на сайте крупнейшего российского официального дилера BMW – компании ABTODOM. Но, очень скоро, рамки дилерского сайта стали тесны для саморазвивающегося интернет–сообщества владельцев и поклонников знаменитой баварской марки.В 2004 году у Клуба появился собственный сайт, где владельцы BMW обсуждают не только новые модели любимого автомобильного бренда, но и множество других тем из мира автомобилей, мотоциклов, семьи и дома, политики, бизнеса, истории, культуры, искусства, спорта и до бесконечности.На сегодня, BMWClub.ru – это крупнейший и самый популярный российский независимый интернет-портал, по тематике BMW.Помимо массы интересной и полезной информации, главная цель Клуба – это общение людей. Причем, общение не только на страницах сайта, но и в жизни, на различных клубных мероприятиях и встречах
        </p>
    </div>
    <div class="image2 width">
        <img src="~/content/image/gallery/5.jpg">
        <p>
            БМВ Клуб начал отсчет своей истории в 2000 г., на сайте крупнейшего российского официального дилера BMW – компании ABTODOM. Но, очень скоро, рамки дилерского сайта стали тесны для саморазвивающегося интернет–сообщества владельцев и поклонников знаменитой баварской марки.В 2004 году у Клуба появился собственный сайт, где владельцы BMW обсуждают не только новые модели любимого автомобильного бренда, но и множество других тем из мира автомобилей, мотоциклов, семьи и дома, политики, бизнеса, истории, культуры, искусства, спорта и до бесконечности.На сегодня, BMWClub.ru – это крупнейший и самый популярный российский независимый интернет-портал, по тематике BMW.Помимо массы интересной и полезной информации, главная цель Клуба – это общение людей. Причем, общение не только на страницах сайта, но и в жизни, на различных клубных мероприятиях и встречах
        </p>
    </div>
</div>

