
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gallerySection fullWidth">
    <div class="col-md-12 width">a
        <div class="col-md-2 col-sm-4">
            <img src="~/Content/image/gallery/1.jpg">
        </div>
        <div class="col-md-2 col-sm-4">
            <img src="~/Content/image/gallery/1.jpg">
        </div>
        <div class="col-md-2 col-sm-4">
            <img src="~/Content/image/gallery/1.jpg">
        </div>
        <div class="col-md-2 col-sm-4">
            <img src="~/Content/image/gallery/1.jpg">
        </div>
        <div class="col-md-2 col-sm-4">
            <img src="~/Content/image/gallery/1.jpg">
        </div>
        <div class="col-md-2 col-sm-4">
            <img src="~/Content/image/gallery/1.jpg">
        </div>
        <div class="col-md-2 col-sm-4">
            <img src="~/Content/image/gallery/1.jpg">
        </div>


    </div>
</div>

