
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row contactSection fullWidth">
    <div class="contactInfo width">
        <div class="col-md-12">
            <div class="col-md-6">
                <h5>CONTACT INFORMATION</h5>
                <ul>
                    <li>Address:</li>
                    <li>Email:</li>
                    <li>Phone:</li>
                    <li>Phone:</li>
                </ul>
                <ul>
                    <li>Azerbaijan Baku</li>
                    <li>elitniy.07@gmail.com</li>
                    <li>050 204 20 39</li>
                    <li>055 234 20 39</li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-6 contactUs">
                <h5 class="title mb-4 font-bold">BİZİMLƏ ƏLAQƏ</h5>
                <input type="" name="" placeholder="Adiniz">
                <input type="" name="" placeholder="Elektron ünvaniniz">
                <textarea placeholder="Mesajınız"></textarea>
                <button>Göndər</button>
            </div>
        </div>
    </div>
</div>
<div class="googleMap fullWidth">
    <div class="map width">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d168210.08884833494!2d49.769935792180206!3d40.44000022892712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1510681850497" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

