
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="searchSection fullWidth">
    <div class=" row aroundSearch">
        <div class=" col-md-12">
            <select>
                <option value="" disabled selected>Markanı seçin</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
        <div class=" col-md-12">
            <select>
                <option value="" disabled selected>Modeli seçin</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
        <div class="col-md-12">
            <textarea name="message" rows="8" cols="90">
					Əlavə məlumatlarınızı qeyd edin.
					</textarea>
        </div>
    </div>
</div>
