
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main fulllWidth">
    <div class="fullwidth newsSection">
        <div class="width sliderBox">
            <div class="col-md-8">
                <div class="container">
                    <!-- Each carousel needs a unique ID -->
                    <div id="carousel-id" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="text fixed-top">
                                    <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save.</p>
                                </div>
                                <img src="~/Content/image/news/news1.jpg" alt="First slide" class="img-fluid">
                            </div>
                            <div class="carousel-item">
                                <div class="text fixed-top">
                                    <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save.</p>
                                </div>
                                <img src="~/Content/image/news/news2.jpg" alt="First slide" class="img-fluid">
                            </div>
                            <div class="carousel-item">
                                <div class="text fixed-top">
                                    <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save.</p>
                                </div>
                                <img src="~/Content/image/news/news3.jpg" alt="First slide" class="img-fluid">
                            </div>
                        </div>
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel" data-slide-to="1"></li>
                            <li data-target="#carousel" data-slide-to="2"></li>
                        </ol>
                        <p class="text-xs-center">
                            <a class="" href="#carousel-id" role="button" data-slide="prev">
                                <span class="icon-prev" aria-hidden="true"></span><i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </a>&emsp;
                            <a class="l" href="#carousel-id" role="button" data-slide="next">
                                <span class="icon-next" aria-hidden="true"></span> <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="car360panel fullwidth">
                    <div class="row width">
                        <div class="col-md-12">
                            <div class="col-md-2 logoImage">
                                <img src="~/Content/image/logo.png">
                            </div>
                            <div class="col-md-8">
                                <h2>SAYTİMİZDA PULSUZ</h2>
                            </div>
                            <div class="col-md-2 button">
                                <a href=""><button>Elan yerləşdir</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="newsBlog">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="">
                                <img src="~/Content/image/news/news1.jpg">
                                <h5>bashliq</h5>
                                <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save.</p>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="">
                                <img src="~/Content/image/news/news1.jpg">
                                <h5>bashliq</h5>
                                <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save.</p>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="">
                                <img src="~/Content/image/news/news1.jpg">
                                <h5>bashliq</h5>
                                <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save.</p>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="">
                                <img src="~/Content/image/news/news1.jpg">
                                <h5>bashliq</h5>
                                <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save.</p>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="">
                                <img src="~/Content/image/news/news1.jpg">
                                <h5>bashliq</h5>
                                <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save.</p>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="">
                                <img src="~/Content/image/news/news1.jpg">
                                <h5>bashliq</h5>
                                <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save.</p>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="">
                                <img src="~/Content/image/news/news1.jpg">
                                <h5>bashliq</h5>
                                <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save.</p>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="">
                                <img src="~/Content/image/news/news1.jpg">
                                <h5>bashliq</h5>
                                <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save.</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 newsPanel">
                <h2>Top xəbərlər</h2>
                <div class="newsBox">
                    <div class="newsImage col-md-4">
                        <img src="~/Content/image/news/news1.jpg">
                    </div>
                    <div class="newsText col-md-8">
                        <h5>news title</h5>
                        <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save. </p>
                    </div>
                </div>
                <div class="newsBox">
                    <div class="newsImage col-md-4">
                        <img src="~/Content/image/news/news1.jpg">
                    </div>
                    <div class="newsText col-md-8">
                        <h5>news title</h5>
                        <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save. </p>
                    </div>
                </div>
                <div class="newsBox">
                    <div class="newsImage col-md-4">
                        <img src="~/Content/image/news/news1.jpg">
                    </div>
                    <div class="newsText col-md-8">
                        <h5>news title</h5>
                        <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save. </p>
                    </div>
                </div>
                <div class="newsBox">
                    <div class="newsImage col-md-4">
                        <img src="~/Content/image/news/news1.jpg">
                    </div>
                    <div class="newsText col-md-8">
                        <h5>news title</h5>
                        <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save. </p>
                    </div>
                </div>
                <div class="newsBox">
                    <div class="newsImage col-md-4">
                        <img src="~/Content/image/news/news1.jpg">
                    </div>
                    <div class="newsText col-md-8">
                        <h5>news title</h5>
                        <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save. </p>
                    </div>
                </div>
                <div class="newsBox">
                    <div class="newsImage col-md-4">
                        <img src="~/Content/image/news/news1.jpg">
                    </div>
                    <div class="newsText col-md-8">
                        <h5>news title</h5>
                        <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save. </p>
                    </div>
                </div>
                <div class="newsBox">
                    <div class="newsImage col-md-4">
                        <img src="~/Content/image/news/news1.jpg">
                    </div>
                    <div class="newsText col-md-8">
                        <h5>news title</h5>
                        <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save. </p>
                    </div>
                </div>
                <div class="newsBox">
                    <div class="newsImage col-md-4">
                        <img src="~/Content/image/news/news1.jpg">
                    </div>
                    <div class="newsText col-md-8">
                        <h5>news title</h5>
                        <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save. </p>
                    </div>
                </div>
                <div class="newsBox">
                    <div class="newsImage col-md-4">
                        <img src="~/Content/image/news/news1.jpg">
                    </div>
                    <div class="newsText col-md-8">
                        <h5>news title</h5>
                        <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save. </p>
                    </div>
                </div>
                <div class="newsBox">
                    <div class="newsImage col-md-4">
                        <img src="~/Content/image/news/news1.jpg">
                    </div>
                    <div class="newsText col-md-8">
                        <h5>news title</h5>
                        <p>
                            This BMW car logo PNG brad )ma&e imagd with tra.spareNt backgroun$ You can downLoad fgr free, juSt click on it and SAve
                        </p><
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>