
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fullwidth newsSection">
    <div class="width sliderBox">
        <div class="col-md-8">
            <div class="container">
                <!-- Each carousel needs a unique ID -->
                <div id="carousel-id" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">

                            <img src="~/Content/image/news/news1.jpg" alt="First slide" class="img-fluid">
                        </div>
                        <div class="carousel-item">

                            <img src="~/Content/image/news/news2.jpg" alt="First slide" class="img-fluid">
                        </div>
                        <div class="carousel-item">

                            <img src="~/Content/image/news/news3.jpg" alt="First slide" class="img-fluid">
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel" data-slide-to="1"></li>
                        <li data-target="#carousel" data-slide-to="2"></li>
                    </ol>
                    <p class="text-xs-center">
                        <a class="" href="#carousel-id" role="button" data-slide="prev">
                            <span class="icon-prev" aria-hidden="true"></span><i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </a>&emsp;
                        <a class="l" href="#carousel-id" role="button" data-slide="next">
                            <span class="icon-next" aria-hidden="true"></span> <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
            </div>
            <hr>
            <div class="car360panel fullwidth">
                <div class="row width">
                    <div class="col-md-12">
                        <div class="col-md-2 logoImage">
                            <img src="~/Content/image/logo.png">
                        </div>
                        <div class="col-md-8">
                            <h2>SAYTİMİZDA PULSUZ</h2>
                        </div>
                        <div class="col-md-2 button">
                            <a href=""><button>Elan yerləşdir</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="newsBlog">
                <div class="row">
                    <p>
                        2018 “Formula-1” Azərbaycan Qran-prisinə bilet satışına start verilib. Apasport.az saytının məlumatına görə, noyabrın 6-dan dekabrın 31-dək həm xarici, həm də yerli avtoidman həvəskarları biletləri 20 faiz endirimli qiymətlərlə əldə edə bilərlər.

                        Bundan başqa, sırf yerli sakinlərə əlavə 25%-lik endirim də tətbiq olunur. Yerli sakinlər kateqoriyasına şəxsiyyət vəsiqəsinə sahib olan hər bir Azərbaycan vətəndaşı və ölkədə müvəqqəti yaşama icazəsi olan xarici vətəndaşlar daxildi.

                        İlkin endirim kampaniyası yalnız tribunaya olan və 26-29 aprel tarixlərini əhatə edən 4 günlük biletlər üçün keçərlidi. Hər bir tribunada bu kampaniya üçün məhdud sayda yer ayrılıb. Azyaşlılar üçün alınan 4 günlük biletlər də bu kampaniyaya daxildi. Azyaşlılar kateqoriyası yarış həftəsonu zamanı 2-16 yaşlarından olan yeniyetmələri əhatə edir.

                        Azyaşlılar üçün biletlər ayrılıqda satılmır, yalnız böyüklər üçün olan biletlə birlikdə satılır. Böyüklər kateqoriyasına yarış həftəsonu ərəfəsində 16-dan çox yaşa sahib olanlar aiddi və bu kateqoriyaya daxil olan hər bir şəxs özündən savayı ən çox 2 ədəd azyaşlı bileti ala bilər. Azyaşlılarla yanaşı, 25%-lik endirimdən yararlanan yerli sakinlər də yarış həftəsonu ərzində yarış məkanına daxil olarkən şəxsiyyəti təsdiq edən sənədi təqdim etməlidilər.

                        İlkin endirim kampaniyası müddətində yerli sakinlər üçün tribunalara 4 günlük biletlərin qiyməti tribunadan asılı olaraq 160-600 manat arasında dəyişir. Azyaşlılar üçün bu qiymət müvafiq olaraq 120-420 manat təşkil edir. Bu kampaniya ərəfəsində 4 günlük biletlərə əlavə olaraq ayaqüstü zonalara birgünlük bilet almaq mümkün olacaq. Bu zonalara birgünlük biletlərin qiyməti cümə günü üçün 60 manat, şənbə günü üçün 100 manat və bazar günü üçün 150 manatdı.

                        2018-ci il yanvarın 1-dən etibarən biletlərin satışı yalnız xarici vətəndaşlar üçün tam qiymətlər üzərindən aparılacaq, yerli sakinlər üçün nəzərdə tutulmuş 25%-lik endirim isə qüvvədə qalacaq. Həmçinin 2018-ci ilin ilk günündən etibarən yeni bilet seçimləri satışda olacaq.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 newsPanel">
            <h2>Top xəbərlər</h2>
            <div class="newsBox">
                <div class="newsImage col-md-4">
                    <img src="~/Content/image/news/news1.jpg">
                </div>
                <div class="newsText col-md-8">
                    <h5>news title</h5>
                    <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save. </p>
                </div>
            </div>
            <div class="newsBox">
                <div class="newsImage col-md-4">
                    <img src="~/Content/image/news/news1.jpg">
                </div>
                <div class="newsText col-md-8">
                    <h5>news title</h5>
                    <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save. </p>
                </div>
            </div>
            <div class="newsBox">
                <div class="newsImage col-md-4">
                    <img src="~/Content/image/news/news1.jpg">
                </div>
                <div class="newsText col-md-8">
                    <h5>news title</h5>
                    <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save. </p>
                </div>
            </div>
            <div class="newsBox">
                <div class="newsImage col-md-4">
                    <img src="~/Content/image/news/news1.jpg">
                </div>
                <div class="newsText col-md-8">
                    <h5>news title</h5>
                    <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save. </p>
                </div>
            </div>
            <div class="newsBox">
                <div class="newsImage col-md-4">
                    <img src="~/Content/image/news/news1.jpg">
                </div>
                <div class="newsText col-md-8">
                    <h5>news title</h5>
                    <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save. </p>
                </div>
            </div>
            <div class="newsBox">
                <div class="newsImage col-md-4">
                    <img src="~/Content/image/news/news1.jpg">
                </div>
                <div class="newsText col-md-8">
                    <h5>news title</h5>
                    <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save. </p>
                </div>
            </div>
            <div class="newsBox">
                <div class="newsImage col-md-4">
                    <img src="~/Content/image/news/news1.jpg">
                </div>
                <div class="newsText col-md-8">
                    <h5>news title</h5>
                    <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save. </p>
                </div>
            </div>
            <div class="newsBox">
                <div class="newsImage col-md-4">
                    <img src="~/Content/image/news/news1.jpg">
                </div>
                <div class="newsText col-md-8">
                    <h5>news title</h5>
                    <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save. </p>
                </div>
            </div>
            <div class="newsBox">
                <div class="newsImage col-md-4">
                    <img src="~/Content/image/news/news1.jpg">
                </div>
                <div class="newsText col-md-8">
                    <h5>news title</h5>
                    <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save. </p>
                </div>
            </div>
            <div class="newsBox">
                <div class="newsImage col-md-4">
                    <img src="~/Content/image/news/news1.jpg">
                </div>
                <div class="newsText col-md-8">
                    <h5>news title</h5>
                    <p>This BMW car logo PNG brand image image with transparent background you can download for free, just click on it and save. </p>
                </div>
            </div>
        </div>
    </div>
</div>

