
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BmwClubLayout.cshtml";
}


<div class=" gallerySection">
    <div class=" col-md-12 row gallery width">
        <div class="col-md-3 col-sm-6">
            <a href="">
                <img src="~/Content/image/gallery/1.jpg">
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="">
                <img src="~/Content/image/gallery/1.jpg">
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="">
                <img src="~/Content/image/gallery/2.jpg">
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="">
                <img src="~/Content/image/gallery/1.jpg">
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="">
                <img src="~/Content/image/gallery/1.jpg">
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="">
                <img src="~/Content/image/gallery/1.jpg">
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="">
                <img src="~/Content/image/gallery/1.jpg">
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="">
                <img src="~/Content/image/gallery/1.jpg">
            </a>
        </div>
    </div>
</div>

