
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="catalogSection">
    <div class="container">
        <div class="row searchBox">
            <div class="col-md-6">
                <div class="form-group">
                    <h5 for="sel1">Axtariş:</h5>
                    <select class="form-control" id="sel1">
                        <option>Markanı seçin:</option>
                        <option>Mersedes-Benz</option>
                        <option>Toyota</option>
                        <option>BMW</option>
                        <option>Hyun</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel1">Modeli seçin:</label>
                    <select class="form-control" id="sel1">
                        <option>Modeli seçin:</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row lastViews">
            <div class="col-md-12">
                <h5>En çox baxılan modeller</h5>

            </div>
        </div>
    </div>
</div>

