
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fullWidth">
    <div class=" carsBoxes" style="width:80%; margin:0px auto">
        <div class=" row col-md-12 width">
            <div class="col-md-2 col-sm-2">
                <a href="carpage.html">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-2">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4">
                <a href="">
                    <img src="~/Content/image/adt/1.jpg">
                    <h4>Card title</h4>
                    <p>This is a wider longer.</p>
                </a>
            </div>

        </div>
    </div>
</div>

