
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BmwClubLayout.cshtml";
}

<div class="newsSection">
    <div class="col-md-12 width">
        <div class="col-md-8">
            <a href="">
                <div class="col-md-4">
                    <img src="~/Content/image/news/news3.jpg">
                    <h5>Bugatti</h5>
                    <p>Bugatti Chiron, the most powerful, the fastest, the most luxurious and the most exclusive production super sports car</p>
                    <div class="dateLikeComment">
                        <div class="col-md-4 date">vaxt</div>
                        <div class="col-md-4 like">like</div>
                        <div class="col-md-4 comment">coment</div>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="col-md-4">
                    <img src="~/Content/image/news/news3.jpg">
                    <h5>Bugatti</h5>
                    <p>Bugatti Chiron, the most powerful, the fastest, the most luxurious and the most exclusive production super sports car</p>
                    <div class="dateLikeComment">
                        <div class="col-md-4 date">vaxt</div>
                        <div class="col-md-4 like">like</div>
                        <div class="col-md-4 comment">coment</div>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="col-md-4">
                    <img src="~/Content/image/news/news3.jpg">
                    <h5>Bugatti</h5>
                    <p>Bugatti Chiron, the most powerful, the fastest, the most luxurious and the most exclusive production super sports car</p>
                    <div class="dateLikeComment">
                        <div class="col-md-4 date">vaxt</div>
                        <div class="col-md-4 like">like</div>
                        <div class="col-md-4 comment">coment</div>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="col-md-4">
                    <img src="~/Content/image/news/news3.jpg">
                    <h5>Bugatti</h5>
                    <p>Bugatti Chiron, the most powerful, the fastest, the most luxurious and the most exclusive production super sports car</p>
                    <div class="dateLikeComment">
                        <div class="col-md-4 date">vaxt</div>
                        <div class="col-md-4 like">like</div>
                        <div class="col-md-4 comment">coment</div>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="col-md-4">
                    <img src="~/Content/image/news/news3.jpg">
                    <h5>Bugatti</h5>
                    <p> Bugatti Chiron, the most powerful, the fastest, the most luxurious and the most exclusive production super sports car</p>
                    <div class="dateLikeComment">
                        <div class="col-md-4 date">vaxt</div>
                        <div class="col-md-4 like">like</div>
                        <div class="col-md-4 comment">coment</div>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="col-md-4">
                    <img src="~/Content/image/news/news3.jpg">
                    <h5>Bugatti</h5>
                    <p>Bugatti Chiron, the most powerful, the fastest, the most luxurious and the most exclusive production super sports car</p>
                    <div class="dateLikeComment">
                        <div class="col-md-4 date">vaxt</div>
                        <div class="col-md-4 like">like</div>
                        <div class="col-md-4 comment">coment</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 ">
            <h4>Xəbər lenti</h4>
            <a href="">
                <div class="news">
                    <p><span>22-05</span> Bugatti Chiron, the most powerful, the fastest, the most luxurious and the most exclusive production super sports car</p>
                </div>
            </a>
            <a href="">
                <div class="news">
                    <p><span>22-05</span> Bugatti Chiron, the most powerful, the fastest, the most luxurious and the most exclusive production super sports car</p>
                </div>
            </a>
            <a href="">
                <div class="news">
                    <p><span>22-05</span> Bugatti Chiron, the most powerful, the fastest, the most luxurious and the most exclusive production super sports car</p>
                </div>
            </a>
            <a href="">
                <div class="news">
                    <p><span>22-05</span> Bugatti Chiron, the most powerful, the fastest, the most luxurious and the most exclusive production super sports car</p>
                </div>
            </a>
            <a href="">
                <div class="news">
                    <p><span>22-05</span> Bugatti Chiron, the most powerful, the fastest, the most luxurious and the most exclusive production super sports car</p>
                </div>
            </a>
            <a href="">
                <div class="news">
                    <p><span>22-05</span> Bugatti Chiron, the most powerful, the fastest, the most luxurious and the most exclusive production super sports car</p>
                </div>
            </a>

        </div>
    </div>

</div>

