body {
  background-color: #f6f6f6; }

.fulllWidth {
  width: 100%; }

.width {
  width: 90%; }

.main {
  margin: 0px auto; }
  .main .register {
    background-color: red; }

.navBarSection .navbar {
  background-color: black;
  margin: 0px auto;
  padding: 0px; }
  .navBarSection .navbar button {
    background-color: white;
    border-radius: 25px; }
  .navBarSection .navbar .navbar-brand img {
    width: 50%; }
  .navBarSection .navbar span input {
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    height: 20px;
    width: 200px;
    border-radius: 50rem; }
    .navBarSection .navbar span input .btn {
      padding: 0px; }
  .navBarSection .navbar .collapse .navbar-text {
    padding-bottom: 0px; }
    .navBarSection .navbar .collapse .navbar-text .login-and-languages {
      margin-bottom: 5px;
      text-align: right;
      color: white; }
      .navBarSection .navbar .collapse .navbar-text .login-and-languages a {
        margin-right: 15px; }
      .navBarSection .navbar .collapse .navbar-text .login-and-languages a:hover {
        margin-right: 15px;
        color: green;
        text-decoration: none; }
    .navBarSection .navbar .collapse .navbar-text .loginPassword {
      text-align: right;
      margin-bottom: 5px; }
      .navBarSection .navbar .collapse .navbar-text .loginPassword li {
        display: inline-block;
        margin-right: 15px; }
        .navBarSection .navbar .collapse .navbar-text .loginPassword li input {
          width: 150px;
          font-size: 80%;
          border: 0.5px; }
        .navBarSection .navbar .collapse .navbar-text .loginPassword li button {
          background-color: gray;
          height: 20px;
          color: black;
          text-size: 5px;
          line-height: 0.25;
          border: 0.5px solid green; }
        .navBarSection .navbar .collapse .navbar-text .loginPassword li button:hover {
          background-color: red; }
    .navBarSection .navbar .collapse .navbar-text .nav-tabs .nav-item .nav-link {
      padding: 10px 8px;
      color: white;
      font-weight: 500;
      font-size: 15px; }
    .navBarSection .navbar .collapse .navbar-text .nav-tabs .nav-item .active {
      background-color: red; }
    .navBarSection .navbar .collapse .navbar-text .nav-tabs .nav-item:hover {
      background-color: red;
      transition: 0.7s; }

.clubLogoSection {
  box-shadow: 0 0px 200px 0px black;
  margin: 0px auto;
  padding-top: 15px;
  background-image: url(../image/car_logo/parallax.jpg); }
  .clubLogoSection .width {
    margin: 0px auto; }
    .clubLogoSection .width .col-md-12 {
      margin: 0px auto; }
      .clubLogoSection .width .col-md-12 .carousel .carousel-item .col-md-3 {
        overflow: hidden; }
        .clubLogoSection .width .col-md-12 .carousel .carousel-item .col-md-3 a img {
          max-width: 50%;
          height: 50px; }

.sliderSection .container {
  padding: 0px; }
  .sliderSection .container .newsPanel {
    display: inline-block; }
    .sliderSection .container .newsPanel .newsBox {
      box-shadow: 0 0px 5px 0px black;
      overflow: hidden;
      border: 1px solid black;
      height: 80px;
      margin: 10px 0px;
      border-radius: 8px; }
      .sliderSection .container .newsPanel .newsBox .newsImage {
        display: inline-block;
        margin: 0px;
        padding: 0px; }
        .sliderSection .container .newsPanel .newsBox .newsImage img {
          width: 100%; }
      .sliderSection .container .newsPanel .newsBox .newsText {
        float: right;
        display: inline-block;
        padding: 0px; }
        .sliderSection .container .newsPanel .newsBox .newsText p {
          display: inline-block; }
    .sliderSection .container .newsPanel .newsBox:hover {
      box-shadow: 0 0px 10px 0px black;
      border: 2px solid black;
      transition: 0.4s; }
  .sliderSection .container .menuBoxes {
    padding: 40px 0 0 0;
    float: right; }
    .sliderSection .container .menuBoxes .leftPanel {
      padding: 0px 10px;
      display: inline-block; }
      .sliderSection .container .menuBoxes .leftPanel .box {
        padding: 0px 10px;
        display: inline-block;
        box-shadow: 0 0px 10px 0px black;
        overflow: hidden;
        border: 1px solid black;
        margin: 10px 0px;
        border-radius: 8px;
        text-align: center; }
        .sliderSection .container .menuBoxes .leftPanel .box h1 {
          text-size: 40px; }
      .sliderSection .container .menuBoxes .leftPanel .box:hover {
        box-shadow: 0 0px 20px 0px black;
        border: 1px solid black;
        transition: 0.4s; }
    .sliderSection .container .menuBoxes .rightPanel {
      padding: 0px 10px;
      float: right;
      display: inline-block; }
      .sliderSection .container .menuBoxes .rightPanel .box {
        padding: 0px 10px;
        display: inline-block;
        box-shadow: 0 0px 10px 0px black;
        overflow: hidden;
        border: 1px solid black;
        margin: 10px 0px;
        border-radius: 8px;
        text-align: center; }
        .sliderSection .container .menuBoxes .rightPanel .box h1 {
          text-size: 40px; }
      .sliderSection .container .menuBoxes .rightPanel .box:hover {
        box-shadow: 0 0px 20px 0px black;
        border: 1px solid black;
        transition: 0.4s; }

.footer {
  box-shadow: 0 0px 200px 0px black;
  background-image: url("../image/footer-parallax.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }
  .footer .backDiv {
    background-color: rgba(0, 0, 0, 0.5); }
    .footer .backDiv .container .row {
      margin-top: 0rem !important;
      margin-bottom: 0rem !important; }
      .footer .backDiv .container .row .col-md-4 h5 {
        margin-top: 1.5rem !important; }
      .footer .backDiv .container .row .navbar-link {
        margin-left: 0px; }
        .footer .backDiv .container .row .navbar-link ul {
          padding-left: 0px; }
          .footer .backDiv .container .row .navbar-link ul p {
            margin: 0px; }
            .footer .backDiv .container .row .navbar-link ul p a {
              color: white; }
            .footer .backDiv .container .row .navbar-link ul p a:hover {
              text-decoration: none;
              text-size: 25; }
      .footer .backDiv .container .row .contactUs {
        color: white; }
        .footer .backDiv .container .row .contactUs input {
          border-radius: 5px;
          height: 25px;
          color: white;
          margin: 10px 0px;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.5); }
        .footer .backDiv .container .row .contactUs textarea {
          border-radius: 5px;
          height: 90px;
          color: white;
          margin: 10px 0px;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=autoclub.css.map */
